body {
    background-color: #d9d9d9 !important;
}

.row > div {
    margin-top: 1rem;
}

.navbar-light {
    background-color: #e4e4e4;
    border-bottom: 1px solid #c1c1c1;
}

.card > img {
    max-height: 20rem;
    object-fit: cover;
    object-position: top;
}

.form-inline {
    margin-right: 14rem;
}

.card-img-top {
    height: 15rem;
}

.card-body {
    text-decoration: none;
    color: black;
}

.card-body:hover {
    text-decoration: none;
    color: black;
}

.navbar-title {
    margin-left: 0.5rem;
}

.navbar-site-icon {
    margin-left: 14rem;
    width: 2.5rem;
    height: 2.5rem;
}

.autor-signature {
    font-style: italic;
}
