body {
    background-color: #d9d9d9 !important;
}

.row-content > div {
    margin-top: 1rem;
}

.navbar-light {
    background-color: #e4e4e4;
    border-bottom: 1px solid #c1c1c1;
}

.card > img {
    max-height: 20rem;
    object-fit: cover;
    object-position: top;
    height: 15rem;
}

.carousel-item > img {
    height: 25.5rem;
    object-fit: cover;
    object-position: top;
}

.carousel-item > div {
    background-color: rgba(0, 0, 0, 0.5);
}
